<!DOCTYPE html>
<html lang="pt-bt" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Little Course</title>

  <link rel="stylesheet" th:href="@{/css/auth/style.css}" />

  <link rel="stylesheet" href="../../static/css/auth/myStyle.css" />

  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

</head>
  <body>
  <div th:fragment="signin-signup" class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <!-- SIGN IN FORM -->
        <form th:method="POST" th:action="@{/authenticate}" class="sign-in-form">
          <h2 class="title">Entrar</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input id="email" name="email" type="email" placeholder="Email" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input id="password" name="password" type="password" placeholder="Senha" />
          </div>
          <input type="submit" value="Login" class="btn solid" />
          <p class="social-text">Ou entrar com sua rede-social (Não funciona.)</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </form>

        <!-- SIGN IN FORM -->
        <form th:action="@{/signup}" th:object="${accountRegister}" th:method="POST" class="sign-up-form">
          <h2 class="title">Registrar-se</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" th:field="*{firstName}" placeholder="Primeiro nome" />
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" th:field="*{lastName}" placeholder="Sobrenome (optional)" />
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" th:field="*{email}" placeholder="Email" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" th:field="*{password}" placeholder="Senha" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" th:field="*{confirmPassword}" placeholder="Confirma senha" />
          </div>
          <input type="submit" class="btn" value="Sign up" />
          <p class="social-text">Ou entrar com sua rede-social (Não funciona.)</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>Novo por aqui?</h3>
          <p>
            Você ainda não possui uma conta? Clique em registrar-se e desfrute de todos conteúdos disponíveis.
            Para saber mais sobre a página clique em <a th:href="@{/about-page}">ver mais</a>
          </p>
          <button class="btn transparent" id="sign-up-btn">
            Registrar-se
          </button>
        </div>
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>Um de nós?</h3>
          <p>
            Você já possui uma conta? Clique em entrar e se divirta.
          </p>
          <button class="btn transparent" id="sign-in-btn">
            Entrar
          </button>
        </div>
      </div>
    </div>

    <script th:src="@{/js/auth/app.js}"></script>
  </div>
  </body>
</html>
