<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div>
        <h2>Register</h2>
        <form th:action="@{/signup}" th:object="${account}" method="POST">
            <div>
                <label for="firstname">First Name</label>
                <input id="firstname" type="text" th:field="*{firstName}" placeholder="First Name"/>
            </div>
            <div>
                <label for="lastname">Last Name (Optional)</label>
                <input id="lastname" type="text" th:field="*{lastName}" placeholder="Last Name"/>
            </div>
            <div>
                <label for="email">Email</label>
                <input id="email" type="email" th:field="*{email}" placeholder="Email"/>
            </div>
            <div>
                <label for="password">Password</label>
                <input id="password" type="password" th:field="*{password}" placeholder="Password"/>
            </div>
            <div>
                <label for="confirmPassword">Confirm password</label>
                <input id="confirmPassword" type="password" th:field="*{confirmPassword}" placeholder="Confirm password"/>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</section>
<hr>
</body>
</html>