<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" th:href="@{/css/about/style.css}">

</head>
<body>
  <header th:fragment="header_search">
    <a th:href="@{/}" class="logo">Little Course</a>
    <div>
      <ul class="group">
        <ul class="navigation">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </ul>
    </div>
    <div class="search">
      <span class="icon">
        <ion-icon name="search-outline"></ion-icon>
        <ion-icon name="close-outline"></ion-icon>
      </span>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </header>
</body>
</html>