<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="../static/css/header/black.css">
  <link rel="stylesheet" href="../static/css/header/white.css">
</head>
<body>
  <header class="black" th:fragment="header_search">
    <div class="main-logo">
      <div class="logo">
        <h1 style="color: rgb(226, 216, 16);">Física </h1>
        <a style="color: rgb(217, 19, 138)">&</a>
        <h1 style="color: rgb(18, 164, 217)">Bytes</h1>
      </div>
    </div>
    <div class="search">
      <form th:action="@{app/search/item}" th:method="GET" role="search">
        <input type="search" name="query" placeholder="Pesquisar...">
      </form>
    </div>
    <nav>
      <div id="change-theme" class="change-theme">
        <button type="button">Trocar o tema</button>
      </div>
      <div class="dropdown" sec:authorize="!isAuthenticated()">
<!--        <div class="photo" id="profile-photo" sec:authorize="!isAuthenticated()">-->
<!--          <button class="dropbtn" id="dropbtn">Explore</button>-->
<!--          <div class="dropdown-content" id="dropdown-content">-->
<!--            <a href="#">Sign in</a>-->
<!--            <a href="#">Sign up</a>-->
<!--          </div>-->
<!--        </div>-->
          <button class="dropbtn" id="dropbtn">Explore</button>
          <div class="dropdown-content" id="dropdown-content">
            <a href="@{/app/logout}">Sing out</a>
            <a href="@{/app/logout}">Sing out</a>
            <a href="@{/app/logout}">Sing out</a>
            <a href="@{/app/logout}">Sing out</a>
            <a href="@{/app/logout}">Sing out</a>
            <a href="@{/app/logout}">Sing out</a>
          </div>
      </div>
    </nav>
    

    <script th:src="@{/js/header/changeTheme.js}"></script>
    <script th:src="@{/js/header/dropDown.js}"></script>
  </header>

</body>
</html>