<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Little Course</title>


</head>
<body>
<header th:replace="~{_header :: header_search}">

</header>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="POST">
            <ul>
                <li>
                    <label><span sec:authentication="name">Username</span></label>
                </li>
                <li>
                    <button>Logout</button>
                </li>
            </ul>
        </form>
    </div>
</body>
</html>